[settings]
skipUpdate = true
silentlyFail = false

[credentials]

[credentials.wmi]
users = [
            {user = "user1", pass = "pass1"},
            {user = "user2", pass = "pass2"}
        ]

[credentials.assetpanda]
client_id     = "reallylongstringreallylongstringreallylongstringreallylongstring"
client_secret = "reallylongstringreallylongstringreallylongstringreallylongstring"
email         = "test@example.org"
password      = "password"
device        = "Desktop"
app_version   = "2"

[db]
secret_key = "reallylongstringreallylongstringreallylongstringreallylongstring"

[db.databases]
engine   = 'django.db.backends.postgresql'
name     = 'name'
user     = 'user'
password = 'password'
host     = '127.0.0.1'
port     = '5432'
